body {
	font-size: 18px
	color: black;
	background-color: #673D19;
	font-family: monospace, sanserif;
}

/**heder**/
.navbar-brand{padding-top:25px;}
.navbar-brand h1{/* Greeting**/
	font-family:"monospace",serif;
	color: #29231E;
	font-size: 2em;
	font-weight: bold;
	text-shadow: 2px 2px 2px #222;
	margin-top:0px;
	margin-bottom:0px;
	line-height: .75;
}
.navbar-brand .navbar-default a:hover, .navbar-brand a:hover{
	text-decoration:;
	}
.navbar-brand p{ /*greeting2*/
	color: #3C1A1A;
	font-size: 1.5em；
	font-weight: bold;
	margin-top: 15px;
}
.navbar-brand .navbar-default p span { /*plent-lg*/
	vertical-align: middle;
}

#hd-nav{
	background-color:#D8CCC2;
	border-radius: 0;
	border: 0;
	}

#logo-img{
	background: url('../images/self.jpg') no-repeat;
	width:150px;
	height:150px;
	margin:10px 15px 10px 0;
	 }
#hello {
	font-size:1.3em;
}

#nav-list{
	margin-top: 15px;
}
#nav-list a{
	color: #673D19; 
	text-align:center;	
}
#nav-list a:hover {color: red;}
#nav-list a span{
	font-size: 1.8em;
}
#phone{
	margin-top: 5px；
}
#phone a { /*phone num*/
text-align: right;
padding-bottom:0px;
}
#phone div{/*call me*/
  font-size: 1.3em;
   font-weight: bolder;
	color:black;
	text-align: right;
	padding-right: 15px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid black;
}
.navbar-header button .navbar-toggle {
	clear: both;
	margin-top: -30px;
}